{% extends 'base.html' %}

{% block nav-home-class %}active{% endblock %}

{% block title %}top{% endblock %}

{% block page_header %}Demo Site{% endblock %}

{% block content %}
<div>
  <h3>What's this?</h3>
  <p>This is demo website of django-static-site.</p>
  <p>
    django-static-site is static site generator for django.
    You can make a static website so simply with django-static-site.
  </p>
</div>
<div>
  <h3>Getting Started</h3>
  <p>Please refer to <a href='/quickstart'>Getting Started</a>.</p>
</div>
{% endblock content %}
